{
  "presets": ["env", "stage-0"],
  "env": {
    "test": {
      "presets": ["env", "stage-0"],
      "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "@": "./src",
            "@modules": "./src/assets/scripts/modules"
          }
      }]]
    }
  }
}
