header(class="header")
	+parallax-block('header__bg')
	.header__top
		+socials
		+hamburger
	+card-avatar('', 'Михаил Погосян', 'Сайт веб-разработчика')

	block headerBottom

	block headerTriangles
		+triangles('header__triangles')

+nav('nav_fullscreen', 'nav-fullscreen')